<div class="container">

  <div class="row">

    <div class="col-md-9">

      <div class="large-image-container">
        <a href="http://res.cloudinary.com/mattp/image/upload/w_660/{{artwork.uid}}.jpg" data-lightbox="indvthumbs" data-title="">
          <img src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/{{artwork.uid}}.jpg" data-src="http://res.cloudinary.com/mattp/image/upload/c_scale,w_725/{{artwork.uid}}.jpg" alt="">
        </a>
      </div>

      <div class="thumbs">

        <div class="container">

          <div class="row"></div>

          {{#each artwork.children}}

            {{#if ori}}
              <a href="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/{{url}}.jpg" data-lightbox="indvthumbs" data-title="">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/{{url}}.jpg" alt="">
                </div>
              </a>
            {{else}}
              <a href="http://res.cloudinary.com/mattp/image/upload/w_500,h_800/{{url}}.jpg" data-lightbox="indvthumbs" data-title="">
                <div class="thumb vert">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_500,h_800/{{url}}.jpg" alt="">
                </div>
              </a>
            {{/if}}

          {{/each}}

        </div>
      </div>

    </div>

    <div class="col-md-3">
      <div class="indv-meta">
        <div class="name">{{artwork.name}}</div>
        <hr style="margin-bottom: 15px;">
        <div class="date">created on <b>{{artwork.fcreatedAt}}</b></div>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugiat, debitis aspernatur. Voluptas accusantium ad cum ratione molestiae illo perspiciatis.
        </div>
        <div class="authors">
          <p>Authors</p>
          <div>
            {{#each artwork.authors}}
            <span class="label label-warning">{{this}}</span>
            {{/each}}
          </div>
        </div>

        <div class="recommended">
          <p>Also try</p>
          <div class="row">
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="#">
                <div class="thumb hori">
                  <img src="http://res.cloudinary.com/mattp/image/upload/w_660,h_441/yg2_bpiotv.jpg" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="inquire"></div>
      </div>
    </div>
  </div>

</div>